<div class="slide">
    <div class="professores_favoritados">
        <div>
            <h5>
                <%= docente.nome %>
            </h5>
            <img src="<%= docente.image %>" class="image-responsive">
            <div>
                <form action="/aluno/favoritar/<%= docente.id_lattes %>" method="POST">
                    <button id="btn_mensagem">
                        <img src="/images/icons/mensagem.png" id="btn_mensagem">
                    </button>
                </form>
                <form action="/aluno/favoritar/<%= docente.id_lattes %>" method="POST">
                    <button id="btn_favoritar">
                        <img src="/images/icons/btn_favoritar.png" id="btn_favoritar">
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>