<div class="page-wrapper">
  <header class="page-header" role="banner">
    <div id="pageNav">
      <div class="page-nav" id="navOne">
        <nav role="navigation">
          <div id="profile-header">
            <img src="/images/profile-photo.jpg" id="profile-photo">
            <div>
              <h4>Olá, <%= user.name %></h4>
              <a href="/aluno/perfil/perfil">
                <img src="/images/icons/ver perfil.png" id="ver_perfil">
              </a>
            </div>
          </div>

          <ul class="nav-primary">
            <li>
              <a href="/index">
                <img src="/images/icons/home.png" class="icones">
                Início
              </a>
            </li>
            <li>
              <a href="/index_smd">
                <img src="/images/icons/meu_curso.png" class="icones">
                Meu Curso
              </a>
            </li>
            <li>
              <a href="/aluno/perfil/favoritos">
                <img src="/images/icons/favoritos.png" class="icones">
                Favoritos
              </a>
            </li>
            <li>
              <a href="/aluno/perfil/perfil">
                <img src="/images/icons/solicitacao.png" class="icones">
                Solicitações
              </a>
            </li>
            <li>
              <a href="/cursos">
                <img src="/images/icons/cursos.png" class="icones">
                Cursos
              </a>
            </li>
            <li>
              <a>
                <img src="/images/icons/config.png" class="icones">
                Configurações
              </a>
            </li>

          </ul>

          <ul class="nav-primary" id="last-itens">
            <li>
              <a href="/aluno/logout">
                <img src="/images/icons/sair.png" class="icones">
                Sair
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>