<% if (typeof user === 'undefined') {%>
  <% include ./menu_visitante %>
<% } else {%>
  <% include ./menu_logado %>
<% } %>

<div class="page-header-mobile">
  <div  id="page_header" style="">
    <button id="icone-menu" class="trigger-nav-container" data-trigger-nav="navOne">
      <img src="/images/icons/burger-icon.png">
    </button>

    <div class="logo" style="margin: 0;">
      <img onclick="location.href='/'" src="/images/logo-ductus.png"  alt=" " />
    </div>

    <button id="icone-pesquisa" > 
      <img src="/images/icons/pesquisa.png">
    </button>

    <button id="icone-notificacao" onclick="location.href='/aluno/notificacoes';"> 
      <img src="/images/icons/notificacao.png">
    </button>

    <div id="caixa-pesquisa">
      <div id="btn_voltar_pesquisa">
        <img src="/images/icons/arrow-thin-left-white.png">
      </div>
      
      <form action="/busca" method="POST">
        <input type="search" name="search" style="min-height: 40px;">
      <button type="reset" name="fechar" value="close" id="btn_fechar">
        <img src="/images/icons/fechar.png">
      </button>
      </form>
    </div>
  </div>
  <% if (typeof pag != 'undefined')  { %>
    <div class="box-nav">
        <h3><%= pag %></h3> 
      </div>
    <% } %>
</div>