<div id="solicit-perfil" class="lista_tcc" style="padding-top: 0; padding-bottom: 0;">
    <div class="subtitle">
        <img src="/images/icons/solicitacao.png" class="btn_solicita">
        <h5> <%= docente.nome %>: </h5>
        <img class="arrow_down" src="/images/icons/arrow-down.png">
    </div>
    <div class="content">
        <h5> Você: </h5>
        <p style="margin-left: 40px; margin-top: 0px; margin-bottom: 10px;">
            <%= solicitacao.mensagem %>
        </p>
        <% if (solicitacao.respondido) { %>
        <h5> Resposta: </h5>
        <p style="margin-left: 40px; margin-top: 0px; padding-bottom: 20px;">
            <%= solicitacao.resposta %>
        </p>
        <% } %>
    </div>
</div>