<div class="tabs-wrapper" id="tabsWrapper">

<div style="padding-top: 10vh">
<% docentes.forEach(function(docente){ %>
    <% include ./partials/card_docente %>
    <% }); %>
</div>
</div>
<div id="pageNavOverlay"></div>