<div class="photo-bg" id="foto_inicio">
  <img src="images/Foto-inicio.png">
</div>

<button type="button" class="btn_home", onclick= "location.href='/cursos';">Cursos</button>
<p>Saiba mais sobre os cursos de graduação da UFC</p>

<button type="button" class="btn_home" id="desabilitado">Docentes</button>
<p>Pesquise, acompanhe e solicite orientação para os professores</p>
<div id="pageNavOverlay"></div>