<div class="photo-bg" id="foto_cursos">
  <img src="/images/Foto-Cursos.png">
</div>

<h4>
  Campus Fortaleza
</h4>
<div class="linha"></div>

<ul class="lista-cursos">
 <li>
  <span class="dot"></span>
  <a>
   Administração
  </a>
  <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li onclick="location.href='#';">
  <span class="dot"></span>
  <a>
  Agronomia
  </a>
  <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li onclick="location.href='#';">
  <span class="dot"></span>
  <a>
   Arquitetura e Urbanismo
  </a>
  <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li onclick="location.href='#';">
  <span class="dot"></span>
  <a>
   Biblioteconomia
  </a>
  <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li>
  <span class="dot"></span>
  <a>
   Ciência da Computação
 </a>
 <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li>
  <span class="dot"></span>
  <a>
   Ciências Ambientais
 </a>
 <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li>
  <span class="dot"></span>
  <a>
   Ciências Biológicas
 </a>
 <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li>
  <span class="dot"></span>
  <a>
   Ciências Contábeis
 </a>
 <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li>
  <span class="dot"></span>
  <a>
   Ciências Econômicas
 </a>
 <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>

 <li onclick="location.href='/index_smd';">
  <span class="dot"></span>
  <a>
   Sistemas e Mídias Digitais
 </a>
 <img src="/images/icons/arrow-left.png" class="arrow-cursos">
 </li>
</ul>
<div id="pageNavOverlay"></div> 