<div>

    <form action="/aluno/login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Email" />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" />

        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <p class="lead mt-4">
        Não tem conta? <a href="/aluno/register"> Registre-se</a>
    </p>
</div>

<div id="pageNavOverlay"></div> 