<ul class="lista-notifica">
    <% notificacoes.forEach( notificacao => { %>
        <li>
            <a>
                <%= notificacao.texto %>
            </a>
            <img src="./images/icons/solicitacao.png"class="icon-notifica">
        </li>
    <% }) %>
  </ul>

  <div id="pageNavOverlay"></div> 