<ul class="lista-notifica">
    <% notificacoes.forEach( notificacao => { %>
    <div class="notificacao_card">
        <li>
            <img src="/images/icons/solicitacao.png" class="icon-notifica">
            <a>
                <%= notificacao.texto %>
            </a>
        </li>
    </div>
    <% }) %>
</ul>
<div id="pageNavOverlay"></div>