<div class="cards" id="card-professor">
  <%- include ./partials/card_docente %>
</div>

  <div class="lista_tcc">
    <div class="subtitle">
      Apresentação
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="lista_tcc">
    <div class="subtitle">
      Formação Acadêmica
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="lista_tcc">
    <div class="subtitle">
      Atuação Profissional
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>          

  <div class="lista_tcc">
    <div class="subtitle">
      Publicações
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  
  <div id="lista_tcc_lastchild" class="lista_tcc">
    <div class="subtitle">
      Projetos de Extensão
      <img class="arrow_down" src="images/icons/arrow-down.png">
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit,
        sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p> 
    </div>
  </div> 
  <div id="pageNavOverlay"></div> 